.icon-container {
	border-radius: 50%;
	padding: 8px;
	width: 40px;
	height: 40px;
	transition: background-color 0.3s ease-in-out;
}

.icon-container:hover {
	background-color: #1e1e1e;
}

::-webkit-scrollbar {
	width: 7px;
}

::-webkit-scrollbar-track {
	background-color: #1e1e1e;
}

::-webkit-scrollbar-thumb {
	background-color: #888;
}
::-webkit-scrollbar-thumb {
	background-color: #555;
}
  
  

@keyframes pulseEffect {
	0% {
		color: #FF6F61; /* Orangish-red for the N */
	}
	20% {
		color: #FF7043; /* Slightly lighter orangish-red */
	}
	40% {
		color: #FF8A65;
	}
	60% {
		color: #FFAB91;
	}
	80% {
		color: #FF7043;
	}
	100% {
		color: #FF6F61; /* Back to the original color */
	}
}

.newToYouText {
	display: inline-block;
	animation: pulseEffect 2s ease-in-out infinite;
	text-shadow: 0 0 5px rgba(255, 112, 67, 0.2), 0 0 10px rgba(255, 112, 67, 0.1); /* Subtle glow */
}
