.icon-container {
	border-radius: 50%;
	padding: 8px;
	width: 40px;
	height: 40px;
	transition: background-color 0.3s ease-in-out;
}

.icon-container:hover {
	background-color: #1e1e1e;
}

::-webkit-scrollbar {
	width: 7px;
}

::-webkit-scrollbar-track {
	background-color: #1e1e1e;
}

::-webkit-scrollbar-thumb {
	background-color: #888;
}
::-webkit-scrollbar-thumb {
	background-color: #555;
}
  
  .popoutAnimation {
	animation: popout 1s ease-out, rainbowGlow 1.5s infinite;
  }

  @keyframes glowEffect {
	0% {
		text-shadow: 0 0 5px rgba(255, 0, 0, 0.5), 0 0 10px rgba(255, 0, 0, 0.5);
	}
	20% {
		text-shadow: 0 0 5px rgba(255, 165, 0, 0.5), 0 0 10px rgba(255, 165, 0, 0.5);
	}
	40% {
		text-shadow: 0 0 5px rgba(255, 255, 0, 0.5), 0 0 10px rgba(255, 255, 0, 0.5);
	}
	60% {
		text-shadow: 0 0 5px rgba(0, 128, 0, 0.5), 0 0 10px rgba(0, 128, 0, 0.5);
	}
	80% {
		text-shadow: 0 0 5px rgba(0, 0, 255, 0.5), 0 0 10px rgba(0, 0, 255, 0.5);
	}
	100% {
		text-shadow: 0 0 5px rgba(75, 0, 130, 0.5), 0 0 10px rgba(75, 0, 130, 0.5);
	}
}

.newToYouText {
	font-weight: bold;
	animation: glowEffect 3s ease-in-out infinite;
}
